.upload_page{
    display: flex;
}
    .model{
        position: fixed;
        margin-top: -20vh;
        z-index: 100;
        background-color: #f5f5f596;
        backdrop-filter: blur(2px);
        height: 100%;
        width: 100%;
        .message{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 45vh;
            width: 45vw;
            z-index: 101;
            background-color: #f5f5f5;
            border-radius: 10px;
            box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .row{
                flex-basis: 70%;
                padding: 5vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .indicator{
                    height: 10vh;
                    width: 10vw;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .error{
                    background-image: url(../assets/model_indicators/error.png);
                }
                .success{
                    background-image: url(../assets/model_indicators/success.png);
                }
                h1{
                    font-size: 18px;
                    font-weight: 500;
                }
                .error_statements{
                    margin-top: 5vh;
                }
            }
            .row_buttons{
                flex-basis: 30%;
                display: flex;
                justify-content: space-evenly;
                .submit_error{
                    margin: 0px 2vw 0px 2vw;
                    border-radius: 3px;
                    height: 7vh;
                    width: 18vh;
                    background-color: rgb(255, 114, 63);
                    font-size: 14px;
                    font-weight: 500;
                    color: white;
                    transition: all 0.25s;
                }
                .submit_error:hover{
                    background-color: rgb(255, 96, 38);
                }
                .secondary_button{
                    background-color: transparent;
                    border: 1px solid grey;
                    color: black;
                }
                .secondary_button:hover{
                    background-color: rgb(255, 96, 38);
                    border: 0px solid grey;
                    color: white;
                }
            }
        }
    }
    form{
        position: relative;
        height: auto;
        .video_details{
            .video_artist_input{
                // height: 80vh;
                margin: 0vh 0vh 10vh 10vh;
                .video_artist_header{
                    margin-top: 10vh;
                    h2{
                        font-size: 36px;
                        font-weight: 400;
                    }
                    p{
                        margin-top: 3vh;
                        font-size: 14px;
                        font-weight: 200;
                        width: 15vw;
                    }
                }
                .video_artist_input_section{
                    margin-top: 5vh;
                    .video_artist_input_new{
                        .row{
                            margin-top: 1vh;
                            width: 35vw;
                            display: flex;
                            h6{
                                font-size: 16px;
                                font-weight: 300;
                                flex-basis: 50%;
                            }
                            .input{
                                font-size: 16px;
                                font-weight: 300;
                                color: gray;
                                background-color: transparent;
                                border: none;
                                border-bottom: 1px solid grey;
                            }
                        }
                    }
                }
            }
        }
        .video_artist{
            .video_artist_input{
                margin: 0vh 0vh 10vh 10vh;
                .video_artist_header{
                    margin-top: 5vh;
                    h2{
                        font-size: 36px;
                        font-weight: 400;
                    }
                    p{
                        margin-top: 3vh;
                        font-size: 14px;
                        font-weight: 200;
                        width: 15vw;
                    }
                }
                .video_artist_input_section{
                    margin-top: 5vh;
                    .video_artist_input_artistID{
                        .row{
                            margin-top: 1vh;
                            width: 35vw;
                            display: flex;
                            h6{
                                font-size: 16px;
                                font-weight: 300;
                                flex-basis: 50%;
                            }
                            .input{
                                font-size: 16px;
                                font-weight: 300;
                                color: gray;
                                background-color: transparent;
                                border: none;
                                border-bottom: 1px solid grey;
                            }
                        }
                    }
                    .video_artist_input_new{
                        .row{
                            margin-top: 1vh;
                            width: 35vw;
                            display: flex;
                            h6{
                                font-size: 16px;
                                font-weight: 300;
                                flex-basis: 50%;
                            }
                            .input{
                                font-size: 16px;
                                font-weight: 300;
                                color: gray;
                                background-color: transparent;
                                border: none;
                                border-bottom: 1px solid grey;
                            }
                        }
                    }
                    .display_none{
                        display: none;
                    }
                }
            }
        }
        .video_files{
            .video_artist_input{
                margin: 0vh 0vh 10vh 10vh;
                .video_artist_header{
                    margin-top: 5vh;
                    h2{
                        font-size: 36px;
                        font-weight: 400;
                    }
                    p{
                        margin-top: 3vh;
                        font-size: 14px;
                        font-weight: 200;
                        width: 15vw;
                    }
                }
                .video_artist_input_section{
                    margin-top: 5vh;
                    .video_artist_input_new{
                        .row{
                            margin-top: 1vh;
                            width: 35vw;
                            display: flex;
                            h6{
                                font-size: 16px;
                                font-weight: 300;
                                flex-basis: 50%;
                            }
                            .input{
                                font-size: 16px;
                                font-weight: 300;
                                color: gray;
                                background-color: transparent;
                                border: none;
                                border-bottom: 1px solid grey;
                            }
                            .file {
                                opacity: 0;
                                width: 0.1px;
                                height: 0.1px;
                                position: absolute;
                            }
                        }
                    }
                    .display_none{
                        display: none;
                    }
                }
            }
        }
        .submit_button{
            margin: 10vh;
            height: 10vh;
            width: 30vw;
            font-size: 24px;
            font-weight: 500;
            color: white;
            background-color: rgb(209, 160, 0);
            transition: all 0.25s;
        }
        .submit_button:hover{
            font-size: 20px;
            background-color: rgb(255, 193, 35);
        }
    }
    .side_image{
        position: relative;
        margin-top: -25vh;
        transition: all 0.5s;
        .img{
            height: 110vh;
            width: 40vw;
            background-image: url("../assets/upload_page_images/1.jpg");
            background-size: cover;
            background-position: center;
            right: 0px;
            position: fixed;
            transition: all 0.25s;
        }
    }
    .side_image:hover{
        .img{
            transform: scale(.95);
        }
    }